@theme {
  /* Yellow */
  --color-yellow-00: #e8a833;
  --color-yellow-100: #ffc726;
  --color-yellow-40: #ffe9a8;
  --color-yellow-10: #fff9e9;

  /* Blue */
  --color-blue-00: #00164a;
  --color-blue-100: #00267f;
  --color-blue-40: #99a8cc;
  --color-blue-10: #e5e9f2;

  /* Neutral */
  --color-black-00: #000000;
  --color-mid-grey-00: #595959;
  --color-grey-00: #e0e4e9;
  --color-white-00: #ffffff;

  /* Green */
  --color-green-00: #00654a;
  --color-green-100: #1fbf84;
  --color-green-40: #a5e5ce;
  --color-green-10: #e9f9f3;

  /* Red */
  --color-red-00: #a42c2c;
  --color-red-100: #ff6b6b;
  --color-red-40: #ffc4c4;
  --color-red-10: #fff0f0;

  /* Purple */
  --color-purple-00: #4a235a;
  --color-purple-100: #a962c7;
  --color-purple-40: #ddc0e9;
  --color-purple-10: #f6eff9;

  /* Pink */
  --color-pink-00: #ad1157;
  --color-pink-100: #ff94d9;
  --color-pink-40: #ffd4f0;
  --color-pink-10: #fff4fb;

  /* Teal */
  --color-teal-00: #0e5f64;
  --color-teal-100: #30c0c8;
  --color-teal-40: #ace6e9;
  --color-teal-10: #eaf9f9;
}
