@layer base {
  .govbb-label {
    display: block;
    @apply govbb-font-body;
    font-weight: var(--font-weight-bold);
    color: var(--color-text);
  }

  .govbb-form-group:has(:is(input, textarea, select):required) .govbb-label::after {
    content: ' *';
    color: var(--color-red-00);
  }
}
